In [15]:
import pandas as pd
import numpy as np

In [16]:
datas = pd.read_csv('P3_GrantExport.csv',sep=';')

In [17]:
data_final = datas[[0,7,11,12,13]]
data_final.head()

,"﻿""Project Number""",University,Start Date,End Date,Approved Amount
0,1,Nicht zuteilbar - NA,01.10.1975,30.09.1976,11619.00
1,4,Université de Genève - GE,01.10.1975,30.09.1976,41022.00
2,5,"NPO (Biblioth., Museen, Verwalt.) - NPO",01.03.1976,28.02.1985,79732.00
3,6,Universität Basel - BS,01.10.1975,30.09.1976,52627.00
4,7,"NPO (Biblioth., Museen, Verwalt.) - NPO",01.01.1976,30.04.1978,120042.00

In [25]:
data_final=data_final.rename(columns={'\ufeff"Project Number\"':'Project Number'})
data_final.head()

,Project Number,University,Start Date,End Date,Approved Amount
0,1,Nicht zuteilbar - NA,01.10.1975,30.09.1976,11619.00
1,4,Université de Genève - GE,01.10.1975,30.09.1976,41022.00
2,5,"NPO (Biblioth., Museen, Verwalt.) - NPO",01.03.1976,28.02.1985,79732.00
3,6,Universität Basel - BS,01.10.1975,30.09.1976,52627.00
4,7,"NPO (Biblioth., Museen, Verwalt.) - NPO",01.01.1976,30.04.1978,120042.00

In [26]:
data_final.set_index('Project Number')
data_final.head()

,Project Number,University,Start Date,End Date,Approved Amount
0,1,Nicht zuteilbar - NA,01.10.1975,30.09.1976,11619.00
1,4,Université de Genève - GE,01.10.1975,30.09.1976,41022.00
2,5,"NPO (Biblioth., Museen, Verwalt.) - NPO",01.03.1976,28.02.1985,79732.00
3,6,Universität Basel - BS,01.10.1975,30.09.1976,52627.00
4,7,"NPO (Biblioth., Museen, Verwalt.) - NPO",01.01.1976,30.04.1978,120042.00