# Table of Contents
 <p><div class="lev1"><a href="#Introduction-to-Pandas"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction to Pandas</a></div><div class="lev2"><a href="#Pandas-Data-Structures"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Pandas Data Structures</a></div><div class="lev3"><a href="#Series"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Series</a></div><div class="lev3"><a href="#DataFrame"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>DataFrame</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Exercise</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Importing-data"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Importing data</a></div><div class="lev3"><a href="#Microsoft-Excel"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Microsoft Excel</a></div><div class="lev2"><a href="#Pandas-Fundamentals"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Pandas Fundamentals</a></div><div class="lev3"><a href="#Manipulating-indices"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Manipulating indices</a></div><div class="lev2"><a href="#Indexing-and-Selection"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Indexing and Selection</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Operations"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Operations</a></div><div class="lev2"><a href="#Sorting-and-Ranking"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Sorting and Ranking</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.6.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Hierarchical-indexing"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Hierarchical indexing</a></div><div class="lev2"><a href="#Missing-data"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Missing data</a></div><div class="lev3"><a href="#Exercise"><span class="toc-item-num">1.8.1&nbsp;&nbsp;</span>Exercise</a></div><div class="lev2"><a href="#Data-summarization"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Data summarization</a></div><div class="lev2"><a href="#Writing-Data-to-Files"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Writing Data to Files</a></div><div class="lev3"><a href="#Advanced-Exercise:-Compiling-Ebola-Data"><span class="toc-item-num">1.10.1&nbsp;&nbsp;</span>Advanced Exercise: Compiling Ebola Data</a></div><div class="lev2"><a href="#References"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>References</a></div>

# Introduction to Pandas

**pandas** is a Python package providing fast, flexible, and expressive data structures designed to work with *relational* or *labeled* data both. It is a fundamental high-level building block for doing practical, real world data analysis in Python. 

pandas is well suited for:

- Tabular data with heterogeneously-typed columns, as in an SQL table or Excel spreadsheet
- Ordered and unordered (not necessarily fixed-frequency) time series data.
- Arbitrary matrix data (homogeneously typed or heterogeneous) with row and column labels
- Any other form of observational / statistical data sets. The data actually need not be labeled at all to be placed into a pandas data structure


Key features:
    
- Easy handling of **missing data**
- **Size mutability**: columns can be inserted and deleted from DataFrame and higher dimensional objects
- Automatic and explicit **data alignment**: objects can be explicitly aligned to a set of labels, or the data can be aligned automatically
- Powerful, flexible **group by functionality** to perform split-apply-combine operations on data sets
- Intelligent label-based **slicing, fancy indexing, and subsetting** of large data sets
- Intuitive **merging and joining** data sets
- Flexible **reshaping and pivoting** of data sets
- **Hierarchical labeling** of axes
- Robust **IO tools** for loading data from flat files, Excel files, databases, and HDF5
- **Time series functionality**: date range generation and frequency conversion, moving window statistics, moving window linear regressions, date shifting and lagging, etc.

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

## Pandas Data Structures

### Series

A **Series** is a single vector of data (like a NumPy array) with an *index* that labels each element in the vector.

In [ ]:
counts = pd.Series([632, 1638, 569, 115])
counts

If an index is not specified, a default sequence of integers is assigned as the index. A NumPy array comprises the values of the `Series`, while the index is a pandas `Index` object.

In [ ]:
counts.values

###### NOTE : index -> slightly more advanced data structure

In [ ]:
counts.index

We can assign meaningful labels to the index, if they are available:

In [ ]:
bacteria = pd.Series([632, 1638, 569, 115], 
    index=['Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes'])

bacteria

These labels can be used to refer to the values in the `Series`.

In [ ]:
bacteria['Actinobacteria']

###### NOTE : Example

In [ ]:
bacteria.index[0]

In [ ]:
bacteria[[name.endswith('bacteria') for name in bacteria.index]]

In [ ]:
[name.endswith('bacteria') for name in bacteria.index]

Notice that the indexing operation preserved the association between the values and the corresponding indices.

We can still use positional indexing if we wish.

In [ ]:
bacteria[0]

We can give both the array of values and the index meaningful labels themselves:

In [ ]:
bacteria.name = 'counts'
bacteria.index.name = 'phylum'
bacteria

NumPy's math functions and other operations can be applied to Series without losing the data structure.

In [ ]:
np.log(bacteria)

###### NOTE : Editing the index

In [ ]:
bacteria.index + 'test'

We can also filter according to the values in the `Series`:

In [ ]:
bacteria[bacteria>1000]

A `Series` can be thought of as an ordered key-value store. In fact, we can create one from a `dict`:

###### NOTE :
The constructor understands that we want a Series

In [ ]:
bacteria_dict = {'Firmicutes': 632, 'Proteobacteria': 1638, 'Actinobacteria': 569,
                 'Bacteroidetes': 115}
pd.Series(bacteria_dict)

Notice that the `Series` is created in key-sorted order.

If we pass a custom index to `Series`, it will select the corresponding values from the dict, and treat indices without corrsponding values as missing. Pandas uses the `NaN` (not a number) type for missing values.

###### NOTE :
You don't have a value associated to 'Cyanobacteria' in the dict

In [ ]:
bacteria2 = pd.Series(bacteria_dict, 
                      index=['Cyanobacteria','Firmicutes',
                             'Proteobacteria','Actinobacteria'])
bacteria2

In [ ]:
bacteria2.isnull()

Critically, the labels are used to **align data** when used in operations with other Series objects:

In [ ]:
bacteria + bacteria2

Contrast this with NumPy arrays, where arrays of the same length will combine values element-wise; adding Series combined values with the same label in the resulting series. Notice also that the missing values were propogated by addition.

###### NOTE :
As you don't have 'Bacteroidetes' in the second table, it counts as a null. The sum here is an overloaded operator, so it has a specific behaviour when you add two `Series`. It acts roughly as a union. The operation is different from what we'd expect from another data types.

**Danger ->** Less exception thrown than other codes, but it does not mean we're doing everything correctly. That's why we use such an interactive tool

### DataFrame

Inevitably, we want to be able to store, view and manipulate data that is *multivariate*, where for every index there are multiple fields or columns of data, often of varying data type.

A `DataFrame` is a tabular data structure, encapsulating multiple series like columns in a spreadsheet. Data are stored internally as a 2-dimensional object, but the `DataFrame` allows us to represent and manipulate higher-dimensional data.

###### NOTE : 
Need to have same length of array in each column

In [ ]:
data = pd.DataFrame({'value':[632, 1638, 569, 115, 433, 1130, 754, 555],
                     'patient':[1, 1, 1, 1, 2, 2, 2, 2],
                     'phylum':['Firmicutes', 'Proteobacteria', 'Actinobacteria', 
    'Bacteroidetes', 'Firmicutes', 'Proteobacteria', 'Actinobacteria', 'Bacteroidetes']})
data

Notice the `DataFrame` is sorted by column name. We can change the order by indexing them in the order we desire:

In [ ]:
data[['phylum','value','patient']]

###### NOTE : 
Tests

In [ ]:
data[['phylum']]

A `DataFrame` has a second index, representing the columns:

In [ ]:
data.columns

The `dtypes` attribute reveals the data type for each column in our DataFrame. 

- `int64` is numeric integer values 
- `object` strings (letters and numbers)
- `float64` floating-point values

In [ ]:
data.dtypes

If we wish to access columns, we can do so either by dict-like indexing or by attribute:

In [ ]:
data['patient']

In [ ]:
data.patient

In [ ]:
type(data.value)

###### NOTE : 
Returns a `DataFrame` this way

In [ ]:
data[['value']]

Notice this is different than with `Series`, where dict-like indexing retrieved a particular element (row). 

If we want access to a row in a `DataFrame`, we index its `loc` attribute.

###### NOTE : 
Formats as a panda `Series`, with everythin correctly prepopulated

In [ ]:
data.loc[3]

###### NOTE :
Initial step : write markdown cell with what we'd like to do, then cell with code. Benefit if first describe what you want to do. If bug in the code, and explained correctly what we'd do => We get some points. Not as harsh as if there weren't comments

### Exercise

Try out these commands to see what they return:

- `data.head()`
- `data.tail(3)`
- `data.shape`

Displaying the data

In [ ]:
data

** $1^{st}$ command**

In [ ]:
data.head()

The `data.head()` yields the five first elements of the `DataFrame`.

**$2^{nd}$ command**

In [ ]:
data.tail(3)

The `data.tail(3)` displays the $3$ last data of the `DataFrame`

**$3^{rd}$ command**

In [ ]:
data.shape

Displays the "size" of the `DataFrame`, i.e. the number of entries and the number of fields.

An alternative way of initializing a `DataFrame` is with a list of dicts:

In [ ]:
data = pd.DataFrame([{'patient': 1, 'phylum': 'Firmicutes', 'value': 632},
                    {'patient': 1, 'phylum': 'Proteobacteria', 'value': 1638},
                    {'patient': 1, 'phylum': 'Actinobacteria', 'value': 569},
                    {'patient': 1, 'phylum': 'Bacteroidetes', 'value': 115},
                    {'patient': 2, 'phylum': 'Firmicutes', 'value': 433},
                    {'patient': 2, 'phylum': 'Proteobacteria', 'value': 1130},
                    {'patient': 2, 'phylum': 'Actinobacteria', 'value': 754},
                    {'patient': 2, 'phylum': 'Bacteroidetes', 'value': 555}])

In [ ]:
data

Its important to note that the Series returned when a DataFrame is indexted is merely a **view** on the DataFrame, and not a copy of the data itself. So you must be cautious when manipulating this data:

In [ ]:
vals = data.value
vals

In [ ]:
vals[5] = 0
vals

##### Note :
i.e. as it is a view on the `DataFrame`, it is modified by changing its values.

In [ ]:
data

If we plan on modifying an extracted Series, its a good idea to make a copy.

In [ ]:
vals = data.value.copy()
vals[5] = 1000
vals

We can create or modify columns by assignment:

In [ ]:
data.value[[3,4,6]] = [14, 21, 5]
data

###### NOTE :
Works with dict syntax but not with attributes

In [ ]:
data['year'] = 2013
data

But note, we cannot use the attribute indexing method to add a new column:

In [ ]:
data.treatment = 1
data

In [ ]:
data.treatment

### Exercise

From the `data` table above, create an index to return all rows for which the phylum name ends in "bacteria" and the value is greater than 1000.

In [ ]:
data

In [ ]:
data[[name.endswith('bacteria') for name in data.phylum] and data.value > 1000]

In [ ]:
[name.endswith('bacteria') for name in data.phylum]

- First half of the line : returns an array with True for all entries ending in 'bacteria'
- Second half of the line : returns an array with True for all entries '> 1000'
- Combination of both arrays -> Returns what we want

Specifying a `Series` as a new columns cause its values to be added according to the `DataFrame`'s index:

###### NOTE :
All these operators are overloaded as well. S'il y a des indices, il va compléter, sinon ça ne marchera pas (cf. une liste par exemple)

In [ ]:
treatment = pd.Series([0]*4 + [1]*2)
treatment

In [ ]:
data['treatment'] = treatment
data

Other Python data structures (ones without an index) need to be the *same length* as the `DataFrame`:

In [ ]:
month = ['Jan', 'Feb', 'Mar', 'Apr']
data['month'] = month

In [ ]:
month = pd.Series(['Jan', 'Feb', 'Mar', 'Apr'])
month

In [ ]:
data['month'] = month
data

We can use the `drop` method to remove rows or columns, which by default drops rows. We can be explicit by using the `axis` argument:

###### NOTE :
dropping isn't in place, it returns a copy of the `Dataframe`

In [ ]:
data_nomonth = data.drop('month', axis=1)
data_nomonth

In [ ]:
data.drop('month',axis=1,inplace = True)
data

We can extract the underlying data as a simple `ndarray` by accessing the `values` attribute:

In [ ]:
data.values

Notice that because of the mix of string and integer (and `NaN`) values, the dtype of the array is `object`. The dtype will automatically be chosen to be as general as needed to accomodate all the columns.

In [ ]:
df = pd.DataFrame({'foo': [1,2,3], 'bar':[0.4, -1.0, 4.5]})
df.values

In [ ]:
df

Pandas uses a custom data structure to represent the indices of Series and DataFrames.

In [ ]:
data.index

Index objects are immutable:

In [ ]:
data.index[0] = 15

This is so that Index objects can be shared between data structures without fear that they will be changed.

In [ ]:
bacteria = bacteria.append(pd.Series({'Testbacteria':1}))

In [ ]:
bacteria = bacteria.drop(bacteria.index[4])
bacteria

In [ ]:
bacteria2.index = bacteria.index
bacteria2

In [ ]:
bacteria2

## Importing data

A key, but often under-appreciated, step in data analysis is importing the data that we wish to analyze. Though it is easy to load basic data structures into Python using built-in tools or those provided by packages like NumPy, it is non-trivial to import structured data well, and to easily convert this input into a robust data structure:

    genes = np.loadtxt("genes.csv", delimiter=",", dtype=[('gene', '|S10'), ('value', '<f4')])

Pandas provides a convenient set of functions for importing tabular data in a number of formats directly into a `DataFrame` object. These functions include a slew of options to perform type inference, indexing, parsing, iterating and cleaning automatically as data are imported.

Let's start with some more bacteria data, stored in csv format.

In [ ]:
!cat Data/microbiome.csv

This table can be read into a DataFrame using `read_csv`:

In [ ]:
mb = pd.read_csv("Data/microbiome.csv")
mb

Notice that `read_csv` automatically considered the first row in the file to be a header row.

We can override default behavior by customizing some the arguments, like `header`, `names` or `index_col`.

In [ ]:
pd.read_csv("Data/microbiome.csv", header=None).head()

`read_csv` is just a convenience function for `read_table`, since csv is such a common format:

In [ ]:
mb = pd.read_table("Data/microbiome.csv", sep=',')

The `sep` argument can be customized as needed to accomodate arbitrary separators. For example, we can use a regular expression to define a variable amount of whitespace, which is unfortunately very common in some data formats: 
    
    sep='\s+'

For a more useful index, we can specify the first two columns, which together provide a unique index to the data.

In [ ]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Taxon','Patient'])
mb.head()

This is called a *hierarchical* index, which we will revisit later in the section.

If we have sections of data that we do not wish to import (for example, known bad data), we can populate the `skiprows` argument:

###### NOTE : 
skip ROWS, not columns.

In [ ]:
pd.read_csv("Data/microbiome.csv", skiprows=[3,4,6]).head()

If we only want to import a small number of rows from, say, a very large data file we can use `nrows`:

In [ ]:
pd.read_csv("Data/microbiome.csv", nrows=4)

Alternately, if we want to process our data in reasonable chunks, the `chunksize` argument will return an iterable object that can be employed in a data processing loop. For example, our microbiome data are organized by bacterial phylum, with 15 patients represented in each:

In [ ]:
pd.read_csv("Data/microbiome.csv", chunksize=15)

In [ ]:
data_chunks = pd.read_csv("Data/microbiome.csv", chunksize=15)

mean_tissue = pd.Series({chunk.Taxon[0]: chunk.Tissue.mean() for chunk in data_chunks})
    
mean_tissue

Most real-world data is incomplete, with values missing due to incomplete observation, data entry or transcription error, or other reasons. Pandas will automatically recognize and parse common missing data indicators, including `NA` and `NULL`.

In [ ]:
!cat Data/microbiome_missing.csv

In [ ]:
pd.read_csv("Data/microbiome_missing.csv").head(20)

Above, Pandas recognized `NA` and an empty field as missing data.

In [ ]:
pd.isnull(pd.read_csv("Data/microbiome_missing.csv")).head(20)

Unfortunately, there will sometimes be inconsistency with the conventions for missing data. In this example, there is a question mark "?" and a large negative number where there should have been a positive integer. We can specify additional symbols with the `na_values` argument:

In [ ]:
pd.read_csv("Data/microbiome_missing.csv", na_values=['?', -99999]).head(20)

These can be specified on a column-wise basis using an appropriate dict as the argument for `na_values`.

### Microsoft Excel

Since so much financial and scientific data ends up in Excel spreadsheets (regrettably), Pandas' ability to directly import Excel spreadsheets is valuable. This support is contingent on having one or two dependencies (depending on what version of Excel file is being imported) installed: `xlrd` and `openpyxl` (these may be installed with either `pip` or `easy_install`).

The read_excel convenience function in pandas imports a specific sheet from an Excel file

In [ ]:
mb = pd.read_excel('Data/microbiome/MID2.xls', sheetname='Sheet 1', header=None)
mb.head()

There are several other data formats that can be imported into Python and converted into DataFrames, with the help of buitl-in or third-party libraries. These include JSON, XML, HDF5, relational and non-relational databases, and various web APIs. These are beyond the scope of this tutorial, but are covered in [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do).

## Pandas Fundamentals
GO THROUGH !!!!!!!!!!!!

This section introduces the new user to the key functionality of Pandas that is required to use the software effectively.

For some variety, we will leave our digestive tract bacteria behind and employ some baseball data.

In [ ]:
baseball = pd.read_csv("Data/baseball.csv", index_col='id')
baseball.head()

Notice that we specified the `id` column as the index, since it appears to be a unique identifier. We could try to create a unique index ourselves by combining `player` and `year`:

In [ ]:
player_id = baseball.player + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_id
baseball_newind.head()a

This looks okay, but let's check:

In [ ]:
baseball_newind.index.is_unique

In [ ]:
player_id.is_unique

So, indices need not be unique. Our choice is not unique because some players change teams within years.

In [ ]:
pd.Series(baseball_newind.index).value_counts()

The most important consequence of a non-unique index is that indexing by label will return multiple values for some labels:

In [ ]:
baseball_newind.loc['wickmbo012007']

We will learn more about indexing below.

We can create a truly unique index by combining `player`, `team` and `year`:

In [ ]:
player_unique = baseball.player + baseball.team + baseball.year.astype(str)
baseball_newind = baseball.copy()
baseball_newind.index = player_unique
baseball_newind.head()

In [ ]:
baseball_newind.index.is_unique

We can create meaningful indices more easily using a hierarchical index; for now, we will stick with the numeric `id` field as our index.

### Manipulating indices

**Reindexing** allows users to manipulate the data labels in a DataFrame. It forces a DataFrame to conform to the new index, and optionally, fill in missing data if requested.

A simple use of `reindex` is to alter the order of the rows:

In [ ]:
baseball.index[::-1]

In [ ]:
baseball.reindex(baseball.index[::-1]).head()

Notice that the `id` index is not sequential. Say we wanted to populate the table with every `id` value. We could specify and index that is a sequence from the first to the last `id` numbers in the database, and Pandas would fill in the missing data with `NaN` values:

In [ ]:
id_range = range(baseball.index.values.min(), baseball.index.values.max())
baseball.reindex(id_range).head()

Missing values can be filled as desired, either with selected values, or by rule:

In [ ]:
baseball.reindex(id_range, method='ffill', columns=['player','year']).head()

In [ ]:
baseball.reindex(id_range, fill_value='charliebrown', columns=['player']).head()

Keep in mind that `reindex` does not work if we pass a non-unique index series.

We can remove rows or columns via the `drop` method:

In [ ]:
baseball.shape

In [ ]:
baseball.drop([89525, 89526])

In [ ]:
baseball.drop(['ibb','hbp'], axis=1)

## Indexing and Selection

Indexing works analogously to indexing in NumPy arrays, except we can use the labels in the `Index` object to extract values in addition to arrays of integers.

In [ ]:
# Sample Series object
hits = baseball_newind.h
hits.values

In [ ]:
# Numpy-style indexing
hits[:5]

In [ ]:
# Indexing by label
hits[['womacto01CHN2006','schilcu01BOS2006']]

We can also slice with data labels, since they have an intrinsic order within the Index:

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006']

In [ ]:
hits['womacto01CHN2006':'gonzalu01ARI2006'] = 5
hits

In a `DataFrame` we can slice along either or both axes:

In [ ]:
baseball_newind[['h','ab','X2b']]

In [ ]:
baseball_newind[baseball_newind.ab>500]

For a more concise (and readable) syntax, we can use the new `query` method to perform selection on a `DataFrame`. Instead of having to type the fully-specified column, we can simply pass a string that describes what to select. The query above is then simply:

In [ ]:
baseball_newind.query('ab > 500')

The `DataFrame.index` and `DataFrame.columns` are placed in the query namespace by default. If you want to refer to a variable in the current namespace, you can prefix the variable with `@`:

In [ ]:
min_ab = 450

In [ ]:
baseball_newind.query('ab > @min_ab')

The indexing field `loc` allows us to select subsets of rows and columns in an intuitive way:

In [ ]:
baseball_newind.loc['gonzalu01ARI2006', ['h','X2b', 'X3b', 'hr']]

In [ ]:
baseball_newind.loc[:'myersmi01NYA2006', ['hr','h']]

In addition to using `loc` to select rows and columns by **label**, pandas also allows indexing by **position** using the `iloc` attribute.

So, we can query rows and columns by absolute position, rather than by name:

In [ ]:
baseball_newind.iloc[:5, 5:9]

### Exercise

You can use the `isin` method query a DataFrame based upon a list of values as follows: 

    data['phylum'].isin(['Firmacutes', 'Bacteroidetes'])

Use `isin` to find all players that played for the Los Angeles Dodgers (LAN) or the San Francisco Giants (SFN). How many records contain these values?

- Testing the command

In [ ]:
data['phylum'].isin(['Firmacutes', 'Bacteroidetes'])

- Displaying the data

In [ ]:
baseball.head()

- Displaying all the people that played for the LAN and SFN

In [ ]:
baseball_LAN_SFN = baseball[baseball['team'].isin(['LAN','SFN'])]
baseball_LAN_SFN

We found all the players that played in any of those two teams.

**N.B.** We want to count now how many of them are actually different, as we see, for insance sweenma01 was in both teams.

The length of `value_counts()` will give us the total number of different players for each team (the value in the array will be `2` for sweenma01, but it does not matter as we calculate the length of the table.

In [ ]:
print('The number of players who played in any of LAN or SFN is',len(baseball_LAN_SFN.player.value_counts()),'.')

## Operations

`DataFrame` and `Series` objects allow for several operations to take place either on a single object, or between two or more objects.

For example, we can perform arithmetic on the elements of two objects, such as combining baseball statistics across years. First, let's (artificially) construct two Series, consisting of home runs hit in years 2006 and 2007, respectively:

In [ ]:
hr2006 = baseball.loc[baseball.year==2006, 'hr']
hr2006.index = baseball.player[baseball.year==2006]

hr2007 = baseball.loc[baseball.year==2007, 'hr']
hr2007.index = baseball.player[baseball.year==2007]

In [ ]:
hr2007

Now, let's add them together, in hopes of getting 2-year home run totals:

In [ ]:
hr_total = hr2006 + hr2007
hr_total

Pandas' data alignment places `NaN` values for labels that do not overlap in the two Series. In fact, there are only 6 players that occur in both years.

In [ ]:
hr_total[hr_total.notnull()]

While we do want the operation to honor the data labels in this way, we probably do not want the missing values to be filled with `NaN`. We can use the `add` method to calculate player home run totals by using the `fill_value` argument to insert a zero for home runs where labels do not overlap:

In [ ]:
hr2007.add(hr2006, fill_value=0)

Operations can also be **broadcast** between rows or columns.

For example, if we subtract the maximum number of home runs hit from the `hr` column, we get how many fewer than the maximum were hit by each player:

In [ ]:
baseball.hr - baseball.hr.max()

Or, looking at things row-wise, we can see how a particular player compares with the rest of the group with respect to important statistics

In [ ]:
baseball.loc[89521, "player"]

In [ ]:
stats = baseball[['h','X2b', 'X3b', 'hr']]
diff = stats - stats.loc[89521]
diff[:10]

We can also apply functions to each column or row of a `DataFrame`

In [ ]:
stats.apply(np.median)

In [ ]:
def range_calc(x):
    return x.max() - x.min()

In [ ]:
stat_range = lambda x: x.max() - x.min()
stats.apply(stat_range)

Lets use apply to calculate a meaningful baseball statistics, [slugging percentage](https://en.wikipedia.org/wiki/Slugging_percentage):

$$SLG = \frac{1B + (2 \times 2B) + (3 \times 3B) + (4 \times HR)}{AB}$$

And just for fun, we will format the resulting estimate.

In [ ]:
def slugging(x): 
    bases = x['h']-x['X2b']-x['X3b']-x['hr'] + 2*x['X2b'] + 3*x['X3b'] + 4*x['hr']
    ab = x['ab']+1e-6
    
    return bases/ab

baseball.apply(slugging, axis=1).round(3)

## Sorting and Ranking

Pandas objects include methods for re-ordering data.

In [ ]:
baseball_newind.sort_index().head()

In [ ]:
baseball_newind.sort_index(ascending=False).head()

Try sorting the **columns** instead of the rows, in ascending order:

In [ ]:
baseball_newind.sort_index(axis=1).head()

We can also use `sort_values` to sort a `Series` by value, rather than by label.

In [ ]:
baseball.hr.sort_values(ascending=False)

For a `DataFrame`, we can sort according to the values of one or more columns using the `by` argument of `sort_values`:

In [ ]:
baseball[['player','sb','cs']].sort_values(ascending=[False,True], 
                                           by=['sb', 'cs']).head(10)

**Ranking** does not re-arrange data, but instead returns an index that ranks each value relative to others in the Series.

**N.B.** It returns the position in the ascending classement of data. e.g. it means the $63^{rd}$ or $62^{nd}$ is the first entry, and is at a draw. The $29.0$ for many values means that we have a $58$-value tie, as the mid-value is selected.

In [ ]:
baseball.hr.rank()

Ties are assigned the mean value of the tied ranks, which may result in decimal values.

In [ ]:
pd.Series([100,100,2,2]).rank()

Alternatively, you can break ties via one of several methods, such as by the order in which they occur in the dataset:

In [ ]:
baseball.hr.rank(method='first')

Calling the `DataFrame`'s `rank` method results in the ranks of all columns:

In [ ]:
baseball.rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

In [ ]:
baseball[['r','h','hr']].rank(ascending=False).head()

### Exercise

Calculate **on base percentage** for each player, and return the ordered series of estimates.

$$OBP = \frac{H + BB + HBP}{AB + BB + HBP + SF}$$

**N.B.** The OBP function calculates what we asked for. The `+1e-6` is here to prevent having a division by zero from happening (all the values are positive, but the may be zero).

In [ ]:
def OBP(x): 
    numerator = x['h']+x['bb']+x['hbp']
    denominator = x['ab']+x['bb']+x['hbp']+x['sf']+1e-6
    return numerator/denominator

Now we will apply our function to our datas, and get a series of estimates, that we will then sort in descending value

In [ ]:
baseball_stats = baseball.apply(OBP, axis=1).round(3)
baseball_stats = baseball_stats.sort_values(ascending = False)
baseball_stats.head()

We got a series for the OBP of the players, now our last step will be sort the baseball dataset according to this new ordering, and it is done in the following line.

In [ ]:
baseball.reindex(baseball_stats.index).head(10)

Alternatively, we can add the OBP to the baseball `DataFrame` and sort the table value by OBP to get an equivalent result.

In [ ]:
baseball['OBP']=baseball_stats
baseball.sort_values(ascending=False, by = 'OBP').head(10)

## Hierarchical indexing

In the baseball example, I was forced to combine 3 fields to obtain a unique index that was not simply an integer value. A more elegant way to have done this would be to create a hierarchical index from the three fields.

In [ ]:
baseball_h = baseball.set_index(['year', 'team', 'player'])
baseball_h.head(10)

This index is a `MultiIndex` object that consists of a sequence of tuples, the elements of which is some combination of the three columns used to create the index. Where there are multiple repeated values, Pandas does not print the repeats, making it easy to identify groups of values.

In [ ]:
baseball_h.index[:10]

In [ ]:
baseball_h.index.is_unique

Try using this hierarchical index to retrieve Julio Franco (`francju01`), who played for the Atlanta Braves (`ATL`) in 2007:

In [ ]:
baseball_h.loc[(2007, 'ATL', 'francju01')]

Recall earlier we imported some microbiome data using two index columns. This created a 2-level hierarchical index:

In [ ]:
mb = pd.read_csv("Data/microbiome.csv", index_col=['Taxon','Patient'])

In [ ]:
mb.head(10)

With a hierachical index, we can select subsets of the data based on a *partial* index:

In [ ]:
mb.loc['Proteobacteria']

In [ ]:
mb.loc[('Firmicutes',5),'Tissue']

Hierarchical indices can be created on either or both axes. Here is a trivial example:

In [ ]:
frame = pd.DataFrame(np.arange(12).reshape(( 4, 3)), 
                  index =[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                  columns =[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
frame

If you want to get fancy, both the row and column indices themselves can be given names:

In [ ]:
frame.index.names = ['key1', 'key2']
frame.columns.names = ['state', 'color']
frame

With this, we can do all sorts of custom indexing:

In [ ]:
frame.loc['a', 'Ohio']

Try retrieving the value corresponding to `b2` in `Colorado`:

In [ ]:
frame.loc[('a',2),'Colorado']

Additionally, the order of the set of indices in a hierarchical `MultiIndex` can be changed by swapping them pairwise:

In [ ]:
mb.swaplevel('Patient', 'Taxon').head()

Data can also be sorted by any index level, using `sortlevel`:

In [ ]:
mb.sortlevel('Patient', ascending=False).head()

## Missing data

The occurence of missing data is so prevalent that it pays to use tools like Pandas, which seamlessly integrates missing data handling so that it can be dealt with easily, and in the manner required by the analysis at hand.

Missing data are represented in `Series` and `DataFrame` objects by the `NaN` floating point value. However, `None` is also treated as missing, since it is commonly used as such in other contexts (*e.g.* NumPy).

In [ ]:
foo = pd.Series([np.nan, -3, None, 'foobar'])
foo

In [ ]:
foo.isnull()

Missing values may be dropped or indexed out:

In [ ]:
bacteria2

In [ ]:
bacteria2.dropna()

In [ ]:
bacteria2.isnull()

In [ ]:
bacteria2[bacteria2.notnull()]

By default, `dropna` drops entire rows in which one or more values are missing.

In [ ]:
data.dropna()

This can be overridden by passing the `how='all'` argument, which only drops a row when every field is a missing value.

In [ ]:
data.dropna(how='all')

This can be customized further by specifying how many values need to be present before a row is dropped via the `thresh` argument.

In [ ]:
data.loc[7, 'year'] = np.nan
data

**N.B.** Here `thresh=5` will drop everything as it requires 5 arguments to be non null before dropping the row.

In [ ]:
data.dropna(thresh=4)

This is typically used in time series applications, where there are repeated measurements that are incomplete for some subjects.

### Exercise

Try using the `axis` argument to drop columns with missing values:

In [ ]:
data.dropna(axis=1)#,thresh=4)

**N.B.** Here `thresh = 4` would drop only the last column only as it has 0 values in it.

Rather than omitting missing data from an analysis, in some cases it may be suitable to fill the missing value in, either with a default value (such as zero) or a value that is either imputed or carried forward/backward from similar data points. We can do this programmatically in Pandas with the `fillna` argument.

In [ ]:
bacteria2.fillna(0)

In [ ]:
data.fillna({'year': 2013, 'treatment':2})

Notice that `fillna` by default returns a new object with the desired filling behavior, rather than changing the `Series` or  `DataFrame` in place (**in general, we like to do this, by the way!**).

We can alter values in-place using `inplace=True`.

In [ ]:
data.year.fillna(2013, inplace=True)
data

Missing values can also be interpolated, using any one of a variety of methods:

In [ ]:
bacteria2

In [ ]:
bacteria2.fillna(method='bfill')

## Data summarization

We often wish to summarize data in `Series` or `DataFrame` objects, so that they can more easily be understood or compared with similar data. The NumPy package contains several functions that are useful here, but several summarization or reduction methods are built into Pandas data structures.

In [ ]:
baseball.sum()

Clearly, `sum` is more meaningful for some columns than others. For methods like `mean` for which application to string variables is not just meaningless, but impossible, these columns are automatically exculded:

In [ ]:
baseball.mean()

The important difference between NumPy's functions and Pandas' methods is that the latter have built-in support for handling missing data.

In [ ]:
bacteria2

In [ ]:
bacteria2.mean()

Sometimes we may not want to ignore missing values, and allow the `nan` to propagate.

In [ ]:
bacteria2.mean(skipna=False)

Passing `axis=1` will summarize over rows instead of columns, which only makes sense in certain situations.

In [ ]:
extra_bases = baseball[['X2b','X3b','hr']].sum(axis=1)
extra_bases.sort_values(ascending=False)

A useful summarization that gives a quick snapshot of multiple statistics for a `Series` or `DataFrame` is `describe`:

In [ ]:
baseball.describe()

`describe` can detect non-numeric data and sometimes yield useful information about it.

In [ ]:
baseball.player.describe()

We can also calculate summary statistics *across* multiple columns, for example, correlation and covariance.

$$cov(x,y) = \sum_i (x_i - \bar{x})(y_i - \bar{y})$$

In [ ]:
baseball.hr.cov(baseball.X2b)

$$corr(x,y) = \frac{cov(x,y)}{(n-1)s_x s_y} = \frac{\sum_i (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum_i (x_i - \bar{x})^2 \sum_i (y_i - \bar{y})^2}}$$

In [ ]:
baseball.hr.corr(baseball.X2b)

In [ ]:
baseball.ab.corr(baseball.h)

Try running `corr` on the entire `baseball` DataFrame to see what is returned:

In [ ]:
baseball.corr()

If we have a `DataFrame` with a hierarchical index (or indices), summary statistics can be applied with respect to any of the index levels:

In [ ]:
mb.head()

In [ ]:
mb.sum(level='Taxon')

## Writing Data to Files

As well as being able to read several data input formats, Pandas can also export data to a variety of storage formats. We will bring your attention to just a couple of these.

In [ ]:
mb.to_csv("mb.csv")

The `to_csv` method writes a `DataFrame` to a comma-separated values (csv) file. You can specify custom delimiters (via `sep` argument), how missing values are written (via `na_rep` argument), whether the index is writen (via `index` argument), whether the header is included (via `header` argument), among other options.

An efficient way of storing data to disk is in binary format. Pandas supports this using Python’s built-in pickle serialization.

In [ ]:
baseball.to_pickle("baseball_pickle")

The complement to `to_pickle` is the `read_pickle` function, which restores the pickle to a `DataFrame` or `Series`:

In [ ]:
pd.read_pickle("baseball_pickle")

As Wes warns in his book, it is recommended that binary storage of data via pickle only be used as a temporary storage format, in situations where speed is relevant. This is because there is no guarantee that the pickle format will not change with future versions of Python.

### Advanced Exercise: Compiling Ebola Data

**NOTE :** Very fiew line of codes, but find the good ones.

The `Data/ebola` folder contains summarized reports of Ebola cases from three countries during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

From these data files, use pandas to import them and create a single data frame that includes the daily totals of new cases and deaths for each country.

### Temptative solution
Two rows are mostly interesting for us in the datafile from the **Guinea** :
- `Total new cases registered so far` (row 4) for the new cases.
- `New deaths registered` (row 10)  for the deaths.

The column 2 gives us the `Totals` in the whole country.

Four rows are mostly interesting for us in the datafile from the **Liberia** :
- `New Case/s (Suspected)` (row 24) `New Case/s (Probable)` (row 25) `New Case/s (confirmed)` (row 26) for the new cases
- `Newly reported deaths` (row 4) for the deaths

The column 2 gives us the `National` count of cases.

The data from **Sierra Leone** is presented differently :
- The `new_noncase` seems different from what we've seen in the other countries, we will not count it into the new cases. We will consider the rows 2-5 and sum up the content for the new cases.
- For the deaths, we will consider the row 17

The column 16 contains the National results. 

------------------------------------------------

The implementation features a function for putting the data into the final `DataFrame` specifically for each country,as the data are presented differently each time.

**N.B.** In dealing with missing values, we chose to let the NaN spread when summed

Imports required to make our life simpler

In [2]:
import os
import glob
from dateutil import parser

Functions concerning Guinea, then Liberia, then Sierra Leone

In [3]:
def ebola_data_guinea(ebola_frame,ebola_data):
    """
       Extracts the data in the ebola_data,formatted from the Guinea data file and stores them into the ebola_frame
       
       The ebola_data.loc[4,0] is the current date, that will be used as an index.
       The ebola_data.loc[4,2] is the number of new cases.
       The ebola_data.loc[10,2] is the number of deaths.
   """
    ebola_frame.loc[parser.parse(ebola_data.loc[4,0]), country[1]]=[ebola_data.loc[4,2],ebola_data.loc[10,2]]
    
def ebola_data_guinea_test():
    ebola_data = pd.read_csv("Data/ebola/guinea_data/2014-08-04.csv", header = None)
    return  ebola_data.loc[(0,4,10),(0,1,2)]

ebola_data_guinea_test()

             0                                        1       2
0         Date                              Description  Totals
4   2014-08-04        Total new cases registered so far       9
10  2014-08-04  New deaths registered today (confirmed)       2

In [4]:
def ebola_data_liberia(ebola_frame,ebola_data):
    """
       Extracts the data in the ebola_data,formatted from the Guinea data file and stores them into the ebola_frame
       
       The ebola_data.loc[4,0] is the current date, that will be used as an index.
       The ebola_data.loc[(24,25,26),2] is the number of new cases.
       The ebola_data.loc[4,2] is the number of deaths.
   """
    ebola_cases = float(ebola_data.loc[24,2]) + float(ebola_data.loc[25,2]) + float(ebola_data.loc[26,2])
    ebola_frame.loc[parser.parse(ebola_data.loc[4,0]), country[1]]=[ebola_cases,ebola_data.loc[4,2]]


def ebola_data_liberia_test():
    ebola_data = pd.read_csv("Data/ebola/liberia_data/2014-10-01-v139.csv", header = None)
    return  ebola_data.loc[(0,24,25,26,4),(0,1,2)]

ebola_data_liberia_test()

            0                       1         2
0        Date                Variable  National
24  10/1/2014  New Case/s (Suspected)        24
25  10/1/2014   New Case/s (Probable)         0
26  10/1/2014  New case/s (confirmed)         0
4   10/1/2014   Newly reported deaths        22

In [5]:
def ebola_data_sl(ebola_frame,ebola_data):
    """
       Extracts the data in the ebola_data,formatted from the Guinea data file and stores them into the ebola_frame
       
       The ebola_data.loc[4,0] is the current date, that will be used as an index.
       The ebola_data.loc[(3,4,5),2] is the number of new cases.
       The ebola_data.loc[17,2] is the number of deaths.
   """
    ebola_cases = float(ebola_data.loc[3,2]) + float(ebola_data.loc[4,2]) + float(ebola_data.loc[5,2])
    ebola_frame.loc[parser.parse(ebola_data.loc[4,0]), country[1]]=[ebola_cases,ebola_data.loc[17,2]]


def ebola_data_sl_test():
    ebola_data = pd.read_csv("Data/ebola/sl_data/2014-09-08-v104.csv", header = None)
    return ebola_data.loc[(0,2,3,4,5,17),(0,1,16)]

ebola_data_sl_test()

            0               1         16
0         date        variable  National
2   2014-09-08     new_noncase        24
3   2014-09-08   new_suspected         2
4   2014-09-08    new_probable         0
5   2014-09-08   new_confirmed        17
17  2014-09-08  etc_new_deaths       NaN

In [9]:
# Gives an index linking the name into the index in the data file and the name of the country used for indexing
country_index =[['guinea','Guinea'],['liberia','Liberia'],['sl','Sierra Leone']]


ebola_frame = pd.DataFrame(columns = [['Guinea','Guinea','Liberia','Liberia','Sierra Leone','Sierra Leone'],['Cases','Deaths','Cases','Deaths','Cases','Deaths']])

for country in country_index:
    path = "Data/ebola/"+country[0]+"_data/"
    allFiles = glob.glob(os.path.join(path,"*.csv"))
     
    for file_ in allFiles:
        ebola_data = pd.read_csv(file_, header = None)
        if(country[1] == 'Guinea'):
            ebola_data_guinea(ebola_frame,ebola_data)
        elif(country[1]=='Liberia'):
            ebola_data_liberia(ebola_frame,ebola_data)
        else:
            ebola_data_sl(ebola_frame,ebola_data)
        
# Here, not sorting by the index will give us the values with few NaN first, because there would be a lot otherwise,
# as the data for Guinea are quite small w.r.t the ones of Liberia and Sierra Leone.
ebola_frame#.sort_index(ascending=False)

uinea_data/2014-09-02
uinea_data/2014-09-26
uinea_data/2014-09-21
uinea_data/2014-09-24
uinea_data/2014-09-08
uinea_data/2014-09-14
uinea_data/2014-09-16
uinea_data/2014-08-30
uinea_data/2014-08-26
uinea_data/2014-09-04
uinea_data/2014-09-30
uinea_data/2014-10-01
uinea_data/2014-09-22
uinea_data/2014-09-09
uinea_data/2014-08-27
uinea_data/2014-09-23
uinea_data/2014-09-19
uinea_data/2014-08-04
uinea_data/2014-09-11
uinea_data/2014-09-07
uinea_data/2014-09-17
uinea_data/2014-08-31
iberia_data/2014-10-09-v147
iberia_data/2014-08-02
iberia_data/2014-07-24
iberia_data/2014-09-27-v135
iberia_data/2014-11-19-v188
iberia_data/2014-09-02
iberia_data/2014-07-03
iberia_data/2014-07-07
iberia_data/2014-07-02
iberia_data/2014-10-29-v167
iberia_data/2014-12-07
iberia_data/2014-06-28
iberia_data/2014-10-12-v150
iberia_data/2014-11-15-v184
iberia_data/2014-10-25-v163
iberia_data/2014-09-23-v131
iberia_data/2014-11-26
iberia_data/2014-09-28-v136
iberia_data/2014-10-08-v146
iberia_data/2014-10-11-v149
iberia_data/2014-12-03
iberia_data/2014-09-08
iberia_data/2014-09-14
iberia_data/2014-06-22
iberia_data/2014-10-16-v154
iberia_data/2014-10-01-v139
iberia_data/2014-11-30
iberia_data/2014-08-28
iberia_data/2014-10-28-v166
iberia_data/2014-12-08
iberia_data/2014-09-01
iberia_data/2014-09-03
iberia_data/2014-11-23-v192
iberia_data/2014-09-16
iberia_data/2014-10-17-v155
iberia_data/2014-08-17
iberia_data/2014-12-09
iberia_data/2014-11-04-v173
iberia_data/2014-11-21-v190
iberia_data/2014-09-04
iberia_data/2014-10-04-v142
iberia_data/2014-11-29
iberia_data/2014-06-16
iberia_data/2014-07-08
iberia_data/2014-11-27
iberia_data/2014-10-13-v151
iberia_data/2014-11-20-v189
iberia_data/2014-12-02
iberia_data/2014-09-21-v129
iberia_data/2014-07-17
iberia_data/2014-07-10
iberia_data/2014-10-30-v168
iberia_data/2014-08-20
iberia_data/2014-11-14-v183
iberia_data/2014-11-28
iberia_data/2014-07-20
iberia_data/2014-09-10
iberia_data/2014-08-12
iberia_data/2014-10-31-v169
iberia_data/2014-11-24-v193
iberia_data/2014-11-08-v177
iberia_data/2014-08-15
iberia_data/2014-08-25
iberia_data/2014-09-13
iberia_data/2014-10-03-v141
iberia_data/2014-10-22-v160
iberia_data/2014-09-15
iberia_data/2014-12-06
iberia_data/2014-09-05
iberia_data/2014-12-05
iberia_data/2014-10-20-v158
iberia_data/2014-06-25
iberia_data/2014-09-06
iberia_data/2014-08-04
iberia_data/2014-09-20-v128
iberia_data/2014-09-17-v125
iberia_data/2014-09-11
iberia_data/2014-09-07
iberia_data/2014-10-23-v161
iberia_data/2014-08-18
iberia_data/2014-10-21-v159
iberia_data/2014-06-17
iberia_data/2014-09-25-v133
iberia_data/2014-11-02-v171
iberia_data/2014-10-07-v145
iberia_data/2014-06-29
iberia_data/2014-10-10-v148
iberia_data/2014-07-26
iberia_data/2014-06-24
iberia_data/2014-09-30-v138
iberia_data/2014-12-01
iberia_data/2014-07-13
iberia_data/2014-07-01
iberia_data/2014-10-24-v162
iberia_data/2014-10-19-v157
iberia_data/2014-12-04
iberia_data/2014-09-26-v134
iberia_data/2014-09-12
iberia_data/2014-10-18-v156
iberia_data/2014-10-05-v143
l_data/2014-10-16-v142
l_data/2014-10-26-v152
l_data/2014-09-14-v110
l_data/2014-09-03-v99
l_data/2014-09-23-v119
l_data/2014-10-06-v132
l_data/2014-10-01-v127
l_data/2014-11-20-v177
l_data/2014-09-19-v115
l_data/2014-09-08-v104
l_data/2014-11-12-v169
l_data/2014-10-07-v133
l_data/2014-08-12-v77
l_data/2014-09-11-v107
l_data/2014-09-15-v111
l_data/2014-10-31-v157
l_data/2014-09-18-v114
l_data/2014-09-07-v103
l_data/2014-09-27-v123
l_data/2014-11-07-v164
l_data/2014-09-22-v118
l_data/2014-11-06-v163
l_data/2014-10-04-v130
l_data/2014-09-28-v124
l_data/2014-10-17-v143
l_data/2014-11-22-v179
l_data/2014-11-24-v181
l_data/2014-10-05-v131
l_data/2014-09-01-v97
l_data/2014-11-01-v158
l_data/2014-09-02-v98
l_data/2014-09-24-v120
l_data/2014-10-11-v137
l_data/2014-11-29
l_data/2014-10-19-v145
l_data/2014-08-13-v78
l_data/2014-11-14
l_data/2014-08-15-v80
l_data/2014-08-27-v92
l_data/2014-10-13-v139
l_data/2014-08-20-v85
l_data/2014-09-20-v116
l_data/2014-11-13
l_data/2014-09-30-v126
l_data/2014-11-28
l_data/2014-09-29-v125
l_data/2014-09-17-v113
l_data/2014-09-16-v112
l_data/2014-10-20-v146
l_data/2014-09-12-v108
l_data/2014-08-28-v93
l_data/2014-10-30-v156
l_data/2014-10-18-v144
l_data/2014-10-23-v149
l_data/2014-10-27-v153
l_data/2014-09-26-v122
l_data/2014-09-25-v121
l_data/2014-08-17-v82
l_data/2014-08-30-v95
l_data/2014-08-24-v89
l_data/2014-10-10-v136
l_data/2014-10-28-v154
l_data/2014-08-31-v96
l_data/2014-10-08-v134
l_data/2014-08-14-v79
l_data/2014-11-18-v175
l_data/2014-08-18-v83
l_data/2014-08-23-v88
l_data/2014-08-22-v87
l_data/2014-12-06
l_data/2014-11-16
l_data/2014-10-03-v129
l_data/2014-12-05
l_data/2014-09-10-v106
l_data/2014-08-26-v91
l_data/2014-12-13
l_data/2014-08-21-v86
l_data/2014-10-22-v148
l_data/2014-10-24-v150
l_data/2014-11-23-v180
l_data/2014-10-16-v141
l_data/2014-11-19-v176
l_data/2014-10-25-v151
l_data/2014-09-06-v102
l_data/2014-08-16-v81
l_data/2014-11-17
l_data/2014-10-12-v138
l_data/2014-09-21-v117
l_data/2014-10-14-v140
l_data/2014-11-15
l_data/2014-10-21-v147
l_data/2014-11-02-v159
l_data/2014-11-08-v165
l_data/2014-12-01
l_data/2014-08-29-v94
l_data/2014-09-05-v101
l_data/2014-09-13-v109
l_data/2014-11-10-v167
l_data/2014-08-19-v84
l_data/2014-12-04
l_data/2014-08-25-v90
l_data/2014-09-09-v105
l_data/2014-11-21-v178

           Guinea        Liberia        Sierra Leone
            Cases Deaths   Cases Deaths        Cases Deaths
2014-09-02     25      5      76     47           11      3
2014-09-26     19      5      71     64            0      3
2014-09-21     18      0      50     33            0      2
2014-09-24     28      3     NaN    NaN            0      1
2014-09-08     16      4      65     47            6      5
2014-09-14     25      1      47     37            0      2
2014-09-16     10      3      99     54           22      4
2014-08-30     24      5     NaN    NaN            4      4
2014-08-26     28      5     NaN    NaN            0      3
2014-09-04     30      5      52     36          NaN    NaN
2014-09-30     15      4      48     32          NaN    NaN
2014-10-01     34     15      24     22            1    NaN
2014-09-22     19      3     NaN    NaN            0      2
2014-09-09     16      7     NaN    NaN            0      2
2014-08-27     22      2     NaN    NaN            8      4
2014-09-23     29      3      88     51            0      2
2014-09-19     16      5     NaN    NaN            0      2
2014-08-04      9      2      10      7          NaN    NaN
2014-09-11     22      2     120     53            0      3
2014-09-07     16      4      35     22            0      2
2014-09-17     10      3      93     39            0      0
2014-08-31     46      3     NaN    NaN            4      4
2014-10-09    NaN    NaN      60     45          NaN    NaN
2014-08-02    NaN    NaN      11     13          NaN    NaN
2014-07-24    NaN    NaN      32      6          NaN    NaN
2014-09-27    NaN    NaN      37      8            0      1
2014-11-19    NaN    NaN     NaN     21          NaN    NaN
2014-07-03    NaN    NaN       4      4          NaN    NaN
2014-07-07    NaN    NaN       7      2          NaN    NaN
2014-07-02    NaN    NaN       4      5          NaN    NaN
...           ...    ...     ...    ...          ...    ...
2014-09-12    NaN    NaN      75     53            0      8
2014-10-18    NaN    NaN      64     16            4      0
2014-10-05    NaN    NaN      28     21            1    NaN
2014-10-26    NaN    NaN     NaN    NaN            0    NaN
2014-10-06    NaN    NaN     NaN    NaN          NaN    NaN
2014-11-12    NaN    NaN     NaN    NaN            0    NaN
2014-09-18    NaN    NaN     NaN    NaN            0      0
2014-11-07    NaN    NaN     NaN    NaN            2      1
2014-11-06    NaN    NaN     NaN    NaN            0      1
2014-11-22    NaN    NaN     NaN    NaN            0    NaN
2014-11-01    NaN    NaN     NaN    NaN            0      1
2014-08-13    NaN    NaN     NaN    NaN           11      3
2014-11-13    NaN    NaN     NaN    NaN          NaN    NaN
2014-09-29    NaN    NaN     NaN    NaN            0      3
2014-10-27    NaN    NaN     NaN    NaN            0    NaN
2014-08-24    NaN    NaN     NaN    NaN           12      5
2014-08-14    NaN    NaN     NaN    NaN            0      4
2014-11-18    NaN    NaN     NaN    NaN          NaN    NaN
2014-08-23    NaN    NaN     NaN    NaN           11      3
2014-08-22    NaN    NaN     NaN    NaN            6      4
2014-11-16    NaN    NaN     NaN    NaN          NaN    NaN
2014-12-13    NaN    NaN     NaN    NaN          NaN    NaN
2014-08-21    NaN    NaN     NaN    NaN            1      3
2014-10-15    NaN    NaN     NaN    NaN            1      1
2014-08-16    NaN    NaN     NaN    NaN           12      5
2014-11-17    NaN    NaN     NaN    NaN          NaN    NaN
2014-10-14    NaN    NaN     NaN    NaN            0    NaN
2014-08-29    NaN    NaN     NaN    NaN            5      6
2014-11-10    NaN    NaN     NaN    NaN            0    NaN
2014-08-19    NaN    NaN     NaN    NaN            3      3

[135 rows x 6 columns]

## References

[Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do) Wes McKinney